@import "./theme.scss";

.ai-side-elements {
  @media only screen and (max-width: 800px) {
    .ai-side-elements-container {
      position: fixed;
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;

      .ai-side-elements-item {
        margin: 12px 0;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      .ai-side-elements-line {
        height: 50px;
      }
    }

    .ai-side-elements-left {
      left: 5px;
    }

    .ai-side-elements-right {
      right: 5px;

      .ai-side-elements-text {
        font-size: 10px;
      }
    }
  }

  .ai-side-elements-container {
    position: fixed;
    bottom: 0;
    z-index: 1;

    .ai-side-elements-item {
      margin: 20px 0;
      cursor: pointer;

      svg {
        stroke: $themeColor3;
      }

      .ai-side-elements-text {
        color: $themeColor3;
        letter-spacing: 2px;
        writing-mode: vertical-rl;
      }

      &:hover {
        svg {
          stroke: $themeColor4;
        }

        .ai-side-elements-text {
          color: $themeColor4;
        }
      }
    }

    .ai-side-elements-line {
      display: block;
      width: 1px;
      height: 90px;
      margin: 10px auto 0 auto;
      background-color: $themeColor3;
    }
  }

  .ai-side-elements-left {
    left: 2.5%;
  }

  .ai-side-elements-right {
    right: 2.5%;
  }
}
